body {
  /*background-color: #FFFBF3;*/
  font-family: var(--font-system);
  font-optical-sizing: auto;
  /*font-size: var(--font-system-code-size);*/
  font-weight: 300;
  line-height: 1.7;
}

body#home {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  min-height: 100vh;  
  /* grid-template-rows: 5em auto 1fr 17fr 0.5fr; */
  gap: 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titre        "
    "logo         "
    "introduction "
    "billets      "
    "footer       ";
}

.site,
main {
  margin: 1rem;
}

.titre {
  text-align: center;
  grid-area: "titre";

  h1 {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.1em;
    /*font-size: 2em;*/
    /*filter: drop-shadow(0px 4px 4px #B0EF9B);*/

    a {
      color: #852323;

      &:hover {
        color: pink;
      }
    }
  }
}

section.logo {
  grid-area: "logo";
  text-align: center;
  img {
    width: 120px;
  }
}

ul#posts-list {
  list-style-type: none;
  list-style-position: inside;
  margin: none;
  padding: 0 1rem;
  grid-area: "billets";

  li {
    display: grid;
    grid-template-columns: 1fr 0fr 3fr;
    grid-template-rows: auto;
    row-gap: 10px;
    grid-auto-flow: column;
    grid-template-areas:
      "billet-date colon billet-titre";
    grid-area: billets;
    align-items: center;
    border-bottom: 1px dotted var(--nav-separator-color);

    a {
      justify-self: end;
      padding: 1ch;
    }
  }
}

/* footer { */
/*   display: flex; */
/*   position: sticky; */
/*   bottom: 0; */
/*   background-color: lightgrey; */
/*   grid-area: "footer"; */
/* } */
